{
    "type": "controller",
    "reference": {
        "name": "items",
        "type": "array"
    },
    "codeClass": null,
    "userConfig": {
        "designer|userClassName": "Rules",
        "models": [
            "Discount",
            "Prezzo",
            "PrezzoFisso",
            "Rule",
            "Sconto"
        ],
        "stores": [
            "Discounts",
            "Prezzi",
            "PrezziFissi",
            "Rules",
            "Sconti"
        ]
    },
    "id": "ExtBox1-ext-gen3746",
    "designerId": "d40825c4-56c5-4a6b-92e9-e18823ca0f25",
    "cn": [
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "rulesDoubleClick",
                "fn": "rulesDoubleClick",
                "designer|params": [
                    "view,record"
                ],
                "implHandler": [
                    "// Mostra il container\r",
                    "if(record){\r",
                    "    var container = Ext.getCmp('ruleFormContainer');\r",
                    "    if (!container.isVisible())\r",
                    "    container.setVisible(true);\r",
                    "    // Legge il Basic form\r",
                    "    var form = Ext.getCmp('ruleForm');\r",
                    "    // Carica i dati dallo store\r",
                    "    form.getForm().loadRecord(record);\r",
                    "    //Imposta le variabili globali\r",
                    "    ClothoExtXml.controller.GlobalVariables.setCurrentStore(view.getStore());\r",
                    "    ClothoExtXml.controller.GlobalVariables.setCurrentRecord(record);\r",
                    "    ClothoExtXml.controller.GlobalVariables.setCurrentForm(form);\r",
                    "    ClothoExtXml.controller.GlobalVariables.setCurrentContainer(container);\r",
                    "    ClothoExtXml.controller.GlobalVariables.setCurrentStatus('Modify');\r",
                    "    ClothoExtXml.controller.GlobalVariables.setCurrentModel('ClothoExtXml.model.Rule');\r",
                    "}"
                ]
            },
            "designerId": "77187a0c-327b-43f5-b04f-9d2b36c17586"
        },
        {
            "type": "fixedfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "init",
                "fn": "init",
                "designer|params": [
                    "application"
                ],
                "implHandler": [
                    "this.control(\r",
                    "{'ruleGridPanel': {'itemdblclick':this.rulesDoubleClick,'itemclick':this.rulesItemClick,'selectionchange':this.ruleSelectionChange},\r",
                    "'#ruleFormSaveBtn':{'click': this.ruleFormSave},\r",
                    "'#ruleFormExit':{'click': this.ruleFormExit}, \r",
                    "'#maintoolbar-add-btn':{'click': this.ruleClearToAdd},\r",
                    "'#maintoolbar-modify-btn':{'click': this.ruleClearToModify},\r",
                    "})"
                ]
            },
            "designerId": "fa230cbc-697f-4a62-9bd4-f211cdec5070"
        },
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "rulesItemClick",
                "fn": "rulesItemClick",
                "designer|params": [
                    "view,record"
                ],
                "implHandler": [
                    "var form = Ext.getCmp('ruleForm');\r",
                    "var container = Ext.getCmp('ruleFormContainer');\r",
                    "ClothoExtXml.controller.GlobalVariables.setCurrentStore(view.getStore());\r",
                    "ClothoExtXml.controller.GlobalVariables.setCurrentRecord(record);\r",
                    "ClothoExtXml.controller.GlobalVariables.setCurrentForm(form);\r",
                    "ClothoExtXml.controller.GlobalVariables.setCurrentContainer(container);\r",
                    "ClothoExtXml.controller.GlobalVariables.setCurrentStatus('Selected');\r",
                    "ClothoExtXml.controller.GlobalVariables.setCurrentModel('ClothoExtXml.model.Rule');"
                ]
            },
            "designerId": "b1d975de-d602-4815-a13c-592f9a14e65b"
        },
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "ruleFormSave",
                "fn": "ruleFormSave",
                "implHandler": [
                    "ClothoExtXml.controller.GlobalVariables.formSave(\r",
                    "function(){ClothoExtXml.controller.GlobalVariables.deleteFromStore()},\r",
                    "function(){ClothoExtXml.controller.GlobalVariables.hideCurrentContainer()}\r",
                    ")   "
                ]
            },
            "designerId": "ab6a6a81-b43c-48ab-8258-66a0ea718791"
        },
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "ruleSelectionChange",
                "fn": "ruleSelectionChange",
                "designer|params": [
                    "model, records"
                ],
                "implHandler": [
                    "if(records[0]){\r",
                    "    this.getScontiList().getStore().load({params:{rule:records[0].get('id')}});\r",
                    "    this.getPrezziList().getStore().load({params:{rule:records[0].get('id')}});\r",
                    "    this.getPrezziFissiList().getStore().load({params:{rule:records[0].get('id')}});\r",
                    "\r",
                    "}\r",
                    "else{\r",
                    "    var rec= Ext.getCmp('ruleGridPanel').getSelectionModel();\r",
                    "    rec.select(0);\r",
                    "    this.getScontiList().getStore().load({params:{rule:rec.getSelection()[0].get('id')}});\r",
                    "    this.getPrezziList().getStore().load({params:{rule:rec.getSelection()[0].get('id')}});\r",
                    "    this.getPrezziFissiList().getStore().load({params:{rule:rec.getSelection()[0].get('id')}});\r",
                    "}\r",
                    ""
                ]
            },
            "designerId": "57e7723f-8cce-41d3-b9dd-b671eca8686d"
        },
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "ruleClearToAdd",
                "fn": "ruleClearToAdd",
                "implHandler": [
                    "if(ClothoExtXml.controller.GlobalVariables.getCurrentModel()=='ClothoExtXml.model.Rule'){\r",
                    "    ClothoExtXml.controller.GlobalVariables.addCurrentRecord();\r",
                    "}"
                ]
            },
            "designerId": "87229040-b58a-4ed1-b9fb-9ceb3cd7f6c7"
        },
        {
            "type": "controllerref",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "scontiList",
                "ref": "scontiList",
                "selector": "scontiGridPanel"
            },
            "designerId": "1755676b-1e3a-45d5-a581-fa2e9fa50c16"
        },
        {
            "type": "controllerref",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "prezziList",
                "ref": "prezziList",
                "selector": "prezziGridPanel"
            },
            "designerId": "0eb6b121-89b2-4e74-bf14-2a844ec1842b"
        },
        {
            "type": "controllerref",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "prezziFissiList",
                "ref": "prezziFissiList",
                "selector": "prezziFissiGridPanel"
            },
            "designerId": "9e01d1c1-b217-4f70-81ff-1a676313b5cb"
        },
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "ruleFormExit",
                "fn": "ruleFormExit",
                "implHandler": [
                    "ClothoExtXml.controller.GlobalVariables.formExit();"
                ]
            },
            "designerId": "768d7daf-ba1e-4bab-84ba-6be5b970118a"
        }
    ]
}