{
    "type": "controller",
    "reference": {
        "name": "items",
        "type": "array"
    },
    "codeClass": null,
    "userConfig": {
        "designer|userClassName": "Rules",
        "models": [
            "Discount",
            "Prezzo",
            "PrezzoFisso",
            "Rule",
            "Sconto"
        ],
        "stores": [
            "Discounts",
            "Prezzi",
            "PrezziFissi",
            "Rules",
            "Sconti"
        ]
    },
    "id": "ExtBox1-ext-gen3746",
    "designerId": "d40825c4-56c5-4a6b-92e9-e18823ca0f25",
    "cn": [
        {
            "type": "basicfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "rulesDoubleClick",
                "fn": "rulesDoubleClick",
                "designer|params": [
                    "view,record"
                ],
                "implHandler": [
                    "//var container = Ext.getCmp('vendorFormContainer');\r",
                    "//if (container.hidden)\r",
                    "//    container.show()\r",
                    "Ext.getCmp('ruleForm').getForm().loadRecord(record);"
                ]
            },
            "designerId": "77187a0c-327b-43f5-b04f-9d2b36c17586"
        },
        {
            "type": "fixedfunction",
            "reference": {
                "name": "items",
                "type": "array"
            },
            "codeClass": null,
            "userConfig": {
                "designer|userClassName": "init",
                "fn": "init",
                "designer|params": [
                    "application"
                ],
                "implHandler": [
                    " this.control(\r",
                    "        {'ruleGridPanel': {'itemdblclick':this.rulesDoubleClick},\r",
                    " })"
                ]
            },
            "designerId": "fa230cbc-697f-4a62-9bd4-f211cdec5070"
        }
    ]
}